<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="3.0.0" targetFramework="net461" />
  <package id="Flurl.Http" version="3.0.0" targetFramework="net461" />
  <package id="Magick.NET.Core" version="8.3.3" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="8.3.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Pinata.Client" version="1.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>